body{
    color:rgb(104, 149, 212);
    background:rgb(231, 73, 73);
    }

    header{
        border-bottom: solid 3px rgb(74, 110, 35);
        padding: 30px;
        font-size: 40px;
        color: rgb(23, 21, 22);
    }